.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  text-align: left;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  color: #326a9d;
  font-family: 'roboto';
  font-size: 32px;
  font-weight: bold;
}

.description {
  color: #64748b;
  font-family: 'roboto';
  font-size: 18px;
  margin-top: 20px;
}

.button {
  background-color: #ffffff;
  color: #326a9d;
  font-family: 'roboto';
  font-size: 15px;
  font-weight: bold;
  border: 1px;
  border-color: #326a9d;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}

.banner-card-item {
  border: 1px;
  border-color: #cbced2;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  padding: 25px;
  margin-bottom: 10px;
  list-style-type: none;
}
